<ul class="pills">
    <li class="active"><a href="/admin/">@Ideastrike.Localization.Strings.Admin_Home</a></li>
    <li><a href="/admin/settings">@Ideastrike.Localization.Strings.Admin_Settings</a></li>
    <li><a href="/admin/users">@Ideastrike.Localization.Strings.Admin_Users</a></li>
    <li><a href="/admin/moderation">@Ideastrike.Localization.Strings.Admin_Moderation</a></li>
</ul>

<a href="/admin/uservoice">@Ideastrike.Localization.Strings.Admin_UservoiceImport</a>