@using System.Web.Optimization
@using Ideastrike.Helpers
@using Ideastrike.Models
@model dynamic
@{
    ViewBag.Title = "Hello Ideastrike";
}
@Html.Partial("ErrorAlert")
<h1>@ViewBag.Title</h1>
@MarkdownHelper.Markdown(ViewBag.WelcomeMessage)
<ul class="pills">
    <li id="popular">
        <a href="@Url.Action("Index", "Home")">
            @Ideastrike.Localization.Strings.Home_Popular
        </a>
    </li>
    <li id="top">
        <a href="@Url.Action("Top", "Home")">
            @Ideastrike.Localization.Strings.Home_Top
        </a>
    </li>
    <li id="new">
        <a href="@Url.Action("New", "Home")">
            @Ideastrike.Localization.Strings.Home_New
        </a>
    </li>
</ul>
<ul id="ideas">
    @foreach (Idea i in ViewBag.Items)
    {
        <li>
            <div class="pull-left sidebox">
                <form>
                    <div class="voteinfo">
                        <h3 class="votecount @i.Id">@i.Votes.Sum(v => v.Value)</h3>
                        @Ideastrike.Localization.Strings.Common_Votes
                    </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="button" class="btn vote" data-id="@i.Id" data-voted="@i.UserHasVoted" >
                        @(i.UserHasVoted ? Ideastrike.Localization.Strings.Common_UnVote : Ideastrike.Localization.Strings.Common_Vote)
                    </button>
                }
                </form>
            </div>
            <h3 class="ideaheader">
                <a href="/idea/@i.Id">@i.Title</a> <span class="label @StatusColorHelper.ColorClass(i.Status)">@i.Status</span>
            </h3>
            <div class="ideadate">@FriendlyTimeHelper.Parse(i.Time)</div>
            <div class="ideadesc" style="margin-left: 85px;">@MarkdownHelper.Markdown(i.Description)</div>
            <div class="clearfix">
            </div>
        </li> 
    }
</ul>
@section PageScript {
    <script type="text/javascript" src="@BundleTable.Bundles.ResolveBundleUrl("~/scripts/home")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#@ViewBag.Selected').addClass('active');
        });
    </script>
}
